#join-btn {
    position: relative;
    z-index: 100; /* Make sure join button stays on top */
}
#goals-iframe{
    display: none;
}
  
  #stream-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
    width: 90%;
    max-width: 1400px;
    position: relative; /* For proper positioning of buttons */
}
  
#video-streams {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Larger square size */
  gap: 10px;
  height: 90vh; /* Maintains height */
  flex: 1;
}

.video-container {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%; /* Full width of grid cell */
  aspect-ratio: 1 / 1; /* Ensures a square aspect ratio */
  overflow: hidden; /* Prevents overflow */
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the square container */
}

.chat-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


  
  button {
    border: none;
    background-color: cadetblue;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    margin: 2px;
    cursor: pointer;
  }
  
  #stream-controls {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    position: absolute;
    bottom: 20px; /* Align buttons at the bottom */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
  
#pomodoro-timer {
  width: 300px;
  padding: 10px; /* Reduced padding to decrease the depth */
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  height: 150px; /* Reduced height */
}
  
#pomodoro-timer h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}
  
  #timer {
    font-size: 2rem;
    margin: 15px 0;
    color: #333;
  }
  
  #pomodoro-timer button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  #pomodoro-timer button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  #pomodoro-timer button:hover {
    background-color: #218838;
  }
  
  #pomodoro-timer p {
    margin-top: 10px;
    font-size: 1rem;
    color: #555;
  }
  
  @media screen and (max-width: 1400px) {
    #video-streams {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      width: 100%;
    }
  
    #stream-wrapper {
      flex-direction: column;
      align-items: center;
    }
  }